/octave-core
/data/data/terreno.png
/data/data/mountain_landscape_19.png
/data/data/colision.png
/data/data/Objetos3.png
/data/data/Objetos2.png
/data/data/Objetos.png
/tags
*.o
*~
*.swp
/documentacion_grafico
ginebras
